@import '../../styles/variables';
@import '../../styles/mixins';

#container {
    @include row();


    .col {
        @include col();
    }

    .image {
        @include tengyulab-image(750px);
    }

    .message {
        width: 100%;
        max-width: 270px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .button {
        cursor: pointer;
        width: 100px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}