@import '../../styles/variables';
@import '../../styles/mixins';

#container {
    &.out-of-focus {
        opacity: .3;
    }

    .col {
        @include col();
    }

    .header {
       font-size: 35px;
       margin-bottom: 25px;
    }

    .body {
        .image{
            @include tengyulab-image(558px);
        }

        &.empty {
            text-align: center;
        }



        .task {
            height: 35px;
            line-height: 35px;
            border-bottom: solid 1px lightgray;

            &.completed {
                margin-top: 15px;
                border-top: solid 1px lightgray;
            }

            .status {
                float :left;
                margin-right: 20px;

                input {
                    cursor: pointer;
                }
            }

            .name {
                float: left;
            }
        }
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
        height: 60px;
        box-shadow: 0 -8px 10px -6px #dedcdc;


        .menu {
            cursor: pointer;
            float: left;
            line-height: 60px;
            margin-left: 15px;
        }
        .more {
            cursor: pointer;
            float: right;
            line-height: 60px;
            margin-right: 15px;
        }

        .icon {
            vertical-align: middle;
        }

        .new-task-button {
            cursor: pointer;
            display: block;
            background-color: #4285EF;
            color: white;
            position: fixed;
            margin-top: -25px;
            margin-left: -110px;
            left: 50%;
            height: 30px;
            padding: 10px;
            line-height: 30px;
            border-radius: 30px;
            width: 100%;
            max-width: 200px;
        }
    }

    .button {
        width: 100px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

.new-task {
    width: 100%;
    height: 0px;
    position: absolute;
    left: 0;
    color: white;
    text-align: center;
    box-shadow: 0 -8px 10px -6px #dedcdc;
    transition: .1s ease-in-out;
    overflow: hidden;

    &.open {
        height: 200px;
        bottom: 0px;
        background-color: white;
    }

    .input {
        height: 100px;;
    }

    .actions {
        height: 100px;;

        .more-options {
            float: left;
            line-height: 100px;
            margin-left: 15px;
            .icon {
                vertical-align: middle;
            }
        }

        .save {
            cursor: pointer;
            float: right;
            line-height: 100px;
            margin-right: 15px;
            color: #4285EF;
        }
    }
}