<div id="container" [class.out-of-focus]="addingNewtask" *ngIf="currentTaskList != undefined">

  <div class="col header">
    {{currentTaskList.name}}
  </div>

  <div class="col body empty" *ngIf="completedTasks.length == 0 && inprogressTasks.length == 0">
    <img class="image" src="src/assets/fresh-start.png">
    <p><strong>A fresh start</strong></p>
    <p>Anything to add?</p>
  </div>

  <div class="col body" *ngIf="inprogressTasks.length > 0">
    <div class="col task" *ngFor="let task of inprogressTasks">
      <div class="status">
        <input type="checkbox" [checked]="task.completed" (click)="toggleTaskStatus(task)">
      </div>
      <div class="name">
        {{task.name}}
      </div>

    </div>
  </div>

  <div class="col body" *ngIf="completedTasks.length > 0">
    <div class="col task completed" >
      <div class="name">
        Completed ({{completedTasks.length}})
      </div>
    </div>
    <div class="col task" *ngFor="let task of completedTasks">
      <div class="status">
        <input type="checkbox" [checked]="task.completed" (click)="toggleTaskStatus(task)">
      </div>
      <div class="name">
        {{task.name}}
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="menu">
      <img class="icon" src="src/assets/menu.svg">
    </div>
    <div class="new-task-button" (click)="addNewTask()">
      <img class="icon" src="src/assets/add.svg">
      <span>Add a new task</span>
    </div>
    <div class="more" (click)="print()">
      <img class="icon" src="src/assets/more.svg" >
    </div>
  </div>
</div>

<div class="new-task" [class.open]="addingNewtask" *ngIf="addingNewtask">
  <div class="col name-input">
    <input type="text" placeholder="New task" [(ngModel)]="newTask.name" />
  </div>

  <div class="col actions">
    <div class="more-options">
      <img class="icon" src="src/assets/add-circle.svg">
    </div>

    <div class="save">
      <span (click)="save()">Save</span>
    </div>
  </div>
</div>